<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upeu.app_movilidadoficial">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_MovilidadOficial">
        <activity android:name=".Docs_adjuntados"></activity>
        <activity android:name=".Det_convenio" />
        <activity android:name=".Menu_main" />
        <activity android:name=".Docs_Docente" />
        <activity android:name=".Requisitos_Convocatorias" />
        <activity android:name=".Boton_vacantes" />
        <activity
            android:name=".Nav_Drawer"
            android:label="@string/title_activity_nav__drawer"
            android:theme="@style/Theme.App_MovilidadOficial.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>